# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Streamlit
.streamlit/secrets.toml

# Variables de entorno / credenciales
.env
.env.*

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db